$nav-menu--header-bg: #1FA0D8;
$side-menu-bg: #323461;
$side-menu--active-item: #3C7AAB;
$side-menu--container-hover: #2B2D5D;
$side-menu--item-link: #DBE4EE;

$btn--sign-out: #EF476F;

$link-color: #3C6E71;
$footer-bg: transparent;


$header-height: 60px;