$nav-menu--header-bg: #1FA0D8;
$side-menu-bg: #323461;
$side-menu--active-item: #EF476F;
$side-menu--container-hover: #2B2D5D;
$side-menu--item-link: #DBE4EE;
$sub-menu--bg: #434392;

$btn--sign-out: #EF476F;

$white: #F5F6FB;

$link-color: #7e81d8;
$footer-bg: transparent;


$header-height: 60px;