.nav-menu {
  min-height: 100vh;
  width: 50px;
  -webkit-transition: width .2s;
  transition: width .2s;
  position: fixed;
  top: 0;
  z-index: 9999;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version */

  background-color: $side-menu-bg;

  .nav-menu--header {
    width: 100%;
    height: $header-height;
    background-image: linear-gradient(to bottom right, #55CBEE, #2F7ADB);

    display: flex;
    align-items: center;
    justify-content: flex-start;

    -webkit-transition: padding .2s, height .2s;
    transition: padding .2s, height .2s;
  }

  &.wide {
    width: 250px;

    .side-menu .side-menu--item {
      &.with--sub-menu {
        a[aria-expanded="true"] {
          background-color: $side-menu--active-item;

          .title, .icon {
            color: #FFF;
          }
        }
      }
      a {
        .title {
          display: inline;
        }
      }
    }
    .form--sign-out .sign-out--title {
      display: inline-block;
      text-align: center;
      margin-right: 15px;
    }
    .nav-menu--header {
      //padding: 20px;
    }
  }
  &:not(.wide) {
    .nav-menu--header {
      height: 50px;
      position: relative;

      .nav-menu--header-hamburger {
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=10);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
      }
      .nav-menu--header-title {
        //display: none;
        opacity: 0;
        position: absolute;
        left: 100px;
      }
    }
    .side-menu--item-divider {
      font-size: 0;
      border-top-width: 1px;
      padding: 5px;
      &:before {
        width: 30px;
        left: 10px;
      }
    }

    .side-menu li.side-menu--item.with--sub-menu {
      &:hover {
        ul.sub-menu {
          display: block;
          background-color: $sub-menu--bg;
          border-left: 3px $btn--sign-out solid;
          height: auto !important;
        }
      }

      .sub-menu {
        border-left: 3px $nav-menu--header-bg solid;
        background-color: #1a1a1a;
        position: fixed;
        left: 50px;
        margin-top: -50px;
        z-index: 9999;
        width: 250px;

        .side-menu--link {
          padding-left: 0;
        }

        .title {
          width: calc(100% - 55px);
          display: inline-block;
        }
      }
    }
  }

  .nav-menu--header-hamburger {
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 50px;

    -webkit-transition: transform .2s;
    transition: transform .2s;

    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);

    color: #FFF;
    text-align: center;
    line-height: 50px;
    font-size: 24px;

    //background-color: $nav-menu--header-bg;
  }
  .nav-menu--header-title {
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 18px;
    opacity: 1;
    margin-left: 10px;
    left: 50px;

    -webkit-transition: opacity .2s, left .2s;
    transition: opacity .2s, left .2s;
    text-shadow: 0px 0px 30px $side-menu--container-hover;
  }
  .side-menu--item-divider {
    padding: 15px;
    color: $side-menu--item-link;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;

    -webkit-transition: font-size .2s, padding .2s, border-top-width .2s;
    transition: font-size .2s, padding .2s, border-top-width .2s;
    position: relative;

    &:before {
      position: absolute;
      width: 0;
      content: ' ';
      left: 25px;
      top: 5px;
      box-shadow: 0 0 5px 1px rgba(0, 0, 0, .5);
      height: 1px;
      background-color: $side-menu--item-link;
      -webkit-transition: width .2s, left .2s;
      transition: width .2s, left .2s;
    }
  }

  .side-menu {
    list-style: none;
    padding-left: 0;
    height: calc(100% - 150px);
    overflow-y: hidden;
    //overflow-x: hidden;

    li.side-menu--item {
      //position: relative;

      &:hover {
        background-color: $side-menu--container-hover;
      }

      &.active {
        &:hover {
          background-color: $side-menu--active-item;
        }

        background-color: $side-menu--active-item;
        a div {
          color: $white;
          font-weight: bold;
        }
      }
      a {

        display: flex;
        flex: 1;
        justify-content: flex-start;
        align-items: center;

        height: 50px;
        text-decoration: none;

        .icon {
          color: $side-menu--item-link;
          display: inline-block;

          width: 50px;
          height: 50px;
          line-height: 50px;
          text-align: center;
          font-size: 24px;
        }

        .title {
          color: $side-menu--item-link;
          display: none;
          line-height: 50px;
          font-size: 14px;
          font-weight: lighter;
          width: calc(100% - 50px);
          padding-left: 10px;

          white-space: nowrap;
          -ms-text-overflow: ellipsis;
          text-overflow: ellipsis;
        }
      }

      .sub-menu {
        background-color: $sub-menu--bg;
        list-style: none;
        padding-left: 0;
        li.side-menu--item {
          a {
            padding-left: 10px;
            .icon {
              font-size: 18px;
            }
            .title {
              font-size: 12px;
              padding-left: 0;
            }
          }
          &.active {
            background-color: $sub-menu--active-item;
          }
        }
      }
    }
  }

  .form--sign-out {
    position: absolute;
    bottom: 0;
    width: 100%;
    .btn-sign-out {
      width: 100%;
      background-color: transparent;
      color: $btn--sign-out;
      display: block;
    }
    .sign-out--title {
      display: none;
    }
  }
}