.nav-menu {
  min-height: 100vh;
  width: 50px;
  -webkit-transition: width .2s;
  transition: width .2s;
  position: fixed;
  top: 0;
  z-index: 9999;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version */

  background-color: $side-menu-bg;

  &.wide {
    width: 250px;

    .side-menu .side-menu--item a .title {
      display: inline;
    }

    .hamburger {
      width: 100%;
      text-align: left;
      padding: 0 15px;
    }
    .form--sign-out .sign-out--title {
      display: inline-block;
      text-align: center;
      margin-right: 15px;
    }
  }
  &:not(.wide) {
    .side-menu li.side-menu--item.with--sub-menu {
      &:hover {
        ul.sub-menu {
          display: block;
          background-color: #1a1a1a;
          border-left: 3px $hamburger-bg solid;
          height: auto !important;
        }
      }
      
      //position: relative;
      .sub-menu {
        border-left: 3px $hamburger-bg solid;
        background-color: #1a1a1a;
        position: fixed;
        left: 50px;
        margin-top: -50px;
        z-index: 9999;
        width: 250px;

        .side-menu--link {
          padding-left: 0;
        }

        .title {
          width: calc(100% - 55px);
          display: inline-block;
        }
      }
    }
  }


  .hamburger {
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 50px;

    -webkit-transition: text-align .2s;
    transition: text-align .2s;

    color: #FFF;
    text-align: center;
    line-height: 50px;
    font-size: 24px;

    background-color: $hamburger-bg;
  }

  .side-menu {
    list-style: none;
    padding-left: 0;
    height: calc(100% - 150px);
    overflow-y: hidden;
    //overflow-x: hidden;

    li.side-menu--item {
      //position: relative;

      &:hover {
        background-color: rgba(0, 0, 0, 1);
      }

      &.active {
        &:hover {
          background-color: $side-menu--active-item;
        }

        background-color: $side-menu--active-item;
        a div {
          color: #fff;
        }
      }
      a {
        display: block;
        height: 50px;
        text-decoration: none;
        .icon {
          color: $side-menu--item-link;
          display: inline-block;

          width: 50px;
          height: 50px;
          line-height: 50px;
          text-align: center;
          font-size: 20px;
        }

        .title {
          color: $side-menu--item-link;
          display: none;
          line-height: 50px;
          font-size: 14px;
          width: calc(100% - 50px);
          padding-left: 10px;

          white-space: nowrap;
          -ms-text-overflow: ellipsis;
          text-overflow: ellipsis;
        }
      }

      .sub-menu {
        background-color: rgba(255, 255, 255, .1);
        list-style: none;
        padding-left: 0;
        li.side-menu--item {
          a {
            padding-left: 10px;
            .icon {
              font-size: 18px;
            }
            .title {
              font-size: 12px;
              padding-left: 0;
            }
          }
        }
      }
    }
  }

  .form--sign-out {
    position: absolute;
    bottom: 0;
    width: 100%;
    .btn-sign-out {
      width: 100%;
      background-color: transparent;
      color: $btn--sign-out;
      display: block;
    }
    .sign-out--title {
      display: none;
    }
  }
}